<!--
<ion-view title="{{recipe.name}}">
  <ion-content>
    <div class="card">
      <p>{{recipe.description}}</p>
    </div>
    <div class="card">
      <div class="item item-divider">
        Ingredients
      </div>
      <span ng-repeat="step in recipe.steps">
        <h4 ng-repeat="ingredient in steps[step].ingredients">{{ingredients[ingredient].name}} ({{categories[ingredients[ingredient].category].name}})</h4>  
      </span>
      </div>
    <ul class="list card">
      <span ng-repeat="step in recipe.steps">
      <li class="item item-divider">{{$index+1}} : {{steps[step].action}}</li>
      <li class="item" ng-repeat="ingredient in steps[step].ingredients">
        <p>{{ingredients[ingredient].name}}</p>
      </li>
    </ul>

    <div class="card">
      <button class="button" ng-click="prevGlass()"> <- </button>
      <div>
          <img ng-src="img/glass/pic/{{glasses[glassId].id}}.jpg" style="width: 80%, height: auto">
          <h3>{{glasses[glassId].name}}</h3>
          <p>{{glasses[glassId].size_min}} - {{glasses[glassId].size_max}} cl</p>
      </div>
      <button class="button" ng-click="nextGlass()"> -> </button>
    </div>
    
    <a href="#/recipes/{{recipe.id}}/{{glasses[glassId].id}}">Nazdrovia !</a>
    

    
    
  </ion-content>
</ion-view>
-->

<ion-view title="{{recipe.name}}">
  <ion-content>

    <!-- Card with picture & rating & grass name-->
    <div class="card">
      <!-- TODO -->
      <h1><b>{{recipe.name}}</b></h1>
      <i class="icon ion-ios7-heart"></i>
      <i class="icon" ng-class="{'ion-ios7-heart': recipe.rate > 1, 'ion-ios7-heart-outline': recipe.rate < 2}"></i>
      <i class="icon" ng-class="{'ion-ios7-heart': recipe.rate > 2, 'ion-ios7-heart-outline': recipe.rate < 3}"></i>
      <i class="icon" ng-class="{'ion-ios7-heart': recipe.rate > 3, 'ion-ios7-heart-outline': recipe.rate < 4}"></i>
      <i class="icon" ng-class="{'ion-ios7-heart': recipe.rate > 4, 'ion-ios7-heart-outline': recipe.rate < 5}"></i>
      <p><i class="icon ion-wineglass"></i> {{recipe.nb}}</p>
    </div>
    
    <!-- Card with description -->
    <div class="row">
      <div class="col col-66 card">
        {{recipe.description}}
        </div>
      <div class="col card">
        {{author.nickname}}
      </div>
    </div>

    <div class="card">
      <p>{{recipe.description}}</p>
    </div>

    <!-- Card with Steps's list & Tips's list -->
    Steps
    <ul class="card">
      <li ng-repeat="step in recipe.steps">{{step.dose}} dose of {{step.ingredient}}</li>
    </ul>

    <!-- Card with Comments -->
    Comments
    <div class="card">
      <!-- Comments | Todo OrderBy Timestamp -->
      <div ng-repeat="comment in recipe.comments">
        <p>Message : {{comment.message}}</p>
        <p>Author : {{comment.author.nickname}}</p>
        <i class="icon ion-ios7-heart"></i>
        <i class="icon" ng-class="{'ion-ios7-heart': comment.rate > 1, 'ion-ios7-heart-outline': comment.rate < 2}"></i>
        <i class="icon" ng-class="{'ion-ios7-heart': comment.rate > 2, 'ion-ios7-heart-outline': comment.rate < 3}"></i>
        <i class="icon" ng-class="{'ion-ios7-heart': comment.rate > 3, 'ion-ios7-heart-outline': comment.rate < 4}"></i>
        <i class="icon" ng-class="{'ion-ios7-heart': comment.rate > 4, 'ion-ios7-heart-outline': comment.rate < 5}"></i>
        <p>Ts : {{comment.ts}}</p>
      </div>

    </div>
    
  </ion-content>
</ion-view>
<!-- To Delete -->
<nav mfb-menu position="bl" label="Add comment" active-icon="ion-edit" resting-icon="ion-edit" ng-click="addComment()">
</nav>
<nav mfb-menu position="br" label="Start Preparation" active-icon="ion-play" resting-icon="ion-play" ng-click="start()">
</nav>

<a href="#/feedback/{{recipe.$id}}" mfb-menu position="bl" label="Add comment" active-icon="ion-edit" resting-icon="ion-edit" ng-click="redirectToFeedback()"></a>
<a href="#/action/{{recipe.$id}}" mfb-menu position="br" label="Start Preparation" active-icon="ion-play" resting-icon="ion-play" ng-click="redirectToAction()"></a>
